@import url('https://fonts.googleapis.com/css?family=Monoton');

.Homepage {
  margin:  0;
  padding: 0;
  font-family: sans-serif;
  /*background: linear-gradient(to left, rgba(7, 27, 81, 1) 0%, rgba(0, 128, 128, 1) 100%);*/
   background-image: './bgImage.jpg';
  background-position: center bottom;
  background-size:  cover;
 /* height: 100vh;
  margin-top: -70px;
  font-size:50px*/;
  background-repeat:no-repeat; 
  /*background-color: #162E52;*/

}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 100fr));
  padding: 1.5rem;
  grid-template-rows: repeat(auto-fill, minmax(450px, 100fr));
}


@font-face {
    font-family: 'SEGA LOGO FONT';
    font-style: normal;
    font-weight: normal;
    src: local('SEGA LOGO FONT'), url('SEGA.woff') format('woff');
    }


h1{
    font-family:  'Monoton';
    font-weight:  200;
    color: #0ccac4;
    text-align:  center;
    font-size: 2.5vw;
}

.title{
    font-size: 2.7rem;
    margin:  0;
    padding: 0;
}

.espanol{
    font-size: 2.5rem;
    margin:  0;
    padding: 0;
}


h3{
    color: white;
}

.list{
    font-weight:  300;
    color: white; 
}

.subtitle{
    font-family:  'Monoton';
    font-weight:  300;
    color: white;
}

.Nav{
    margin:  0;
    padding: 0;
    font-size: 1rem;
}



.inline{
    display:inline;

}



.description{
    color: white;
}

.f2{
    
    font-weight:  5;
    color: white;
    font-size: 5 px;
}

.Navigation{
    color:  white;
}

.addButton {
  font-size: 0.8rem;
  padding: 0.2rem;
  margin: 0.1rem;
  border-radius: 0.5rem;
  border: 0.1rem #404040 solid;
  background-color: rgba(154, 199, 145, 0.7);
  width: 51%;
  cursor: pointer;
}


.removeButton {
  font-size: 0.8rem;
  padding: 0.2rem;
  margin: 0.1rem;
  border-radius: 0.5rem;
  border: 0.1rem #404040 solid;
  background-color: rgba(130, 130, 130, 0.6);
  width: 51%;
  cursor: pointer;
}